<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Offline Notification</title>
</head>
<body>
    <h1>Device Offline Notification</h1>
    <p>Your device is currently offline.</p>
    <p>It may need attention or troubleshooting.</p>
</body>
</html>
